.Download
  .Options
    - if can?(:edit, download)
      = link_to 'Edit', [:edit, download], class: 'Options__Edit'
    - if can?(:destroy, download)
      = link_to 'Delete', download, class: 'Options__Delete', method: :delete, data: {confirm: 'Are you sure?'}
  .Download__User
    %a{href: user_path(download.user)}
      %img{src: download.user.avatar.url(:thumb), title: download.user.name, alt: 'Avatar'}
  .Download__Details
    .Download__Title
      = download.title
    .Download__Description
      = download.description
  .Download__File
    = link_to 'Download', download.file.url, target: :_blank
  .clear-fix
