.Article.Article--darkened
  .Options
    - if can?(:edit, article)
      = link_to 'Edit', [:edit, article], class: 'Options__Edit'
    - if can?(:destroy, article)
      = link_to 'Delete', article, method: :delete, class: 'Options__Delete', data: {confirm: 'Are you sure?'}
  .Article__Title
    = article.title
  .DateTime
    = render partial: 'article_author', locals: {user: article.user, article: article}
  .Article__Teaser
    = simple_format(article.teaser)
  .Article__ImageWrapper
    %img.Article__Image{src: article.image.url(:medium)}
  .Article__Body.Article__Body--column
    = simple_format(article.body)

