.Form
  = simple_form_for article do |f|
    = f.input :title, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__Box'}
    = f.input :teaser, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__TextArea', maxlength: 300, placeholder: "Maximum 300 characters"}
    %img{src: f.object.image.url(:medium)}
    = f.input :image, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__Box'}
    -# = f.input :pin, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__CheckBox'}
    = f.input :body, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__TextArea'}

    = f.button :submit, nil, class: 'Input Input__Submit'
