.Article
  .Article__IndexImage
    %img{src: article.image.url(:thumb)}
  .Article__IndexContent
    .Article__Title.Article__Title--index
      = link_to article.title, article
    .Article__Body
      = article.body.truncate(200)
  .clear-fix
