.Article
  .Article__Title
    = link_to article.title, article
  .DateTime
    = render partial: 'article_author', locals: {user: article.user, article: article}
  .Article__ImageWrapper
    %img.Article__Image{src: article.image.url(:medium)}
  .Article__Body
    = simple_format(article_with_teaser(article))

