.ArticlePage
  - @articles.each do |article|
    - if article.id == @articles.first.id
      = render partial: 'main_article', locals: {article: article}
      .Article__More
        More articles
    - else
      = render partial: 'article_index', locals: {article: article}
