.Form
  = form_tag "/users/login", method: "post" do
    .Input
      = label_tag(:email, "Email", class: 'Input__Label')
      = text_field_tag(:email, user.try(:email), class: 'Input__Box')

    .Input
      = label_tag(:password, "Password", class: 'Input__Label')
      = password_field_tag(:password, nil, class: 'Input__Box')

    .Input
      = label_tag(:remember_me, "Remember me", class: 'Input__Label')
      = check_box_tag(:remember_me, class: 'Input__CheckBox')

    = button_tag("Login", class: 'Input Input__Submit')
