= simple_form_for user do |f|
  .User__avatar
    %img{src: f.object.avatar.url(:thumb)}
  = f.input :avatar
  = f.input :country_id, collection: Country.all.order(:name)
  = f.input :name, label_html: {class: 'Input__label'}, input_html: {class: 'Input__box'}
  = f.input :email
  - if f.object.id.nil?
    = f.input :password
    = f.input :password_confirmation
  = f.input :bio
  - if current_user && current_user.admin?
    = f.input :role, as: :select, collection: [["Admin", "admin"], ["User", "user"]]
  = f.input :position 

  = f.button :submit
