.User{class: role_class(user)}
  - if can?(:edit, user)
    .Options
      = link_to 'Edit', [:edit, user], class: 'Options__Edit'
  .User__avatar
    %img{src: user.avatar.url(:medium)}
  .User__Details
    .User__name{title: 'Name'}
      %i.fa.fa-tag
      = user.name
    - if current_user
      .User__email{title: 'Email'}
        %i.fa.fa-envelope
        = user.email
    - else
      .User__email
        %i.fa.fa-envelope
        Register and login to see email
    .User__bio{title: 'Bio'}
      %i.fa.fa-book
      = user.bio
    .User__position{title: 'Position'}
      %i.fa.fa-wrench
      = user.position
  .clear-fix
