.Card.Card--wide.Card__User
  .Card__Left
    %img.Card__Image{src: user.avatar.url(:medium)}
  .Card__Right
    .Card__Row
      .Card__Label
        Name
      .Card__Value
        = user.name
    - if current_user
      .Card__Row
        .Card__Label
          Email (Seen by registered users)
        .Card__Value
          = user.email
    .Card__Row
      .Card__Label
        Position
      .Card__Value
        = user.position
    .Card__Row
      .Card__Label
        Country
      .Card__Value
        = user.country.name
    .Card__Row
      .Card__Label
        Role
      .Card__Value
        = user.role.upcase
  
