.AboutUsPage
  .Page__Header.Page__Header--centered
    About Us
  .Page__Content
    .Page__ContentHeader
      Who are we?
    %p
      We are ForYouth and are a group of young professionals who got together to do something for the youth. We are not a for profit and
      everyone that helps you on this website is a volunteer.

    .Page__ContentHeader
      What do we do?
    %p
      Our purpose is to help students who are studying abroad in any manner we can. We plan to soon add a feature which allow
      people to donate money which will be distributed among students who are already abroad.

    .Page__ContentHeader
      Our team
    - @users.each do |user|
      = render partial: 'users/user', locals: {user: user}
