.Author
  .Author__Name{title: "Start at"}
    %i.fa.fa-clock-o
    = event.start_at.strftime('%e %b \'%y at %H:%M')

  .Author__DateTime{title: "Finish at"}
    %i.fa.fa-flag-checkered
    = event.end_at.strftime('%e %b \'%y at %H:%M')
  .clear-fix
