.Form
  = simple_form_for event do |f|
    = f.input :title, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__Box'}
    = f.input :start_at, as: :datetime, html5: true, wrapper_html: {class: 'Input Input__DateTime Input__DateTime--startAt', title: 'Start at'}
    = f.input :end_at, as: :datetime, html5: true, wrapper_html: {class: 'Input Input__DateTime Input__DateTime--endAt', title: 'End at'}
    = f.input :body, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__TextArea'}

    = f.button :submit, nil, class: 'Input Input__Submit'
