.Event.Event--index
  .Event__title
    = link_to event.title, event
  .Event__time
    .Event__Label
      From
    .Event__Value
      = event.start_at.strftime('%e %b \'%y at %H:%M')
    .clear-fix
  .Event__time
    .Event__Label
      Until
    .Event__Value
      = event.end_at.strftime('%e %b \'%y at %H:%M')
    .clear-fix
  .Event__body{data: {body: event.body.html_safe}}
    = event.body.truncate(180, ommision: '... (continued)')
