.Article.Article--darkened
  .Options
    - if can?(:edit, event)
      = link_to 'Edit', [:edit, event], class: 'Options__Edit'
    - if can?(:destroy, event)
      = link_to 'Delete', event, method: :delete, class: 'Options__Delete', data: {confirm: 'Are you sure?'}
  .Article__Title
    = event.title
  .DateTime
    = render partial: 'event_dates', locals: {event: event}
  .Article__Body.Article__Body--column
    = simple_format(event.body)

