.Event
  -# .Event__Response
  -#   = render partial: 'user_event_status', locals: {event: event, event_note: event.responses.where(user_id: current_user.id).first}
  .Event__Title
    = event.title
  .Event__StartAt
    = event.start_at
  .Event__EndAt
    = event.end_at
  .Event__Body
    = event.body
  .Options
    = link_to 'Edit', [:edit, event], class: 'Options__Edit'
    = link_to 'Delete', event, class: 'Options__Delete', method: :delete, data: {confirm: 'Are you sure?'}
