.EventNote
  .EventNote__Status
    -if event_note
      %div{class: "EventNote__Status--#{event_note.status}"}
        = best_in_place event_note, :status, as: :select, collection: [["Yes", "Yes"], ["Maybe", "Maybe"], ["No", "No"]]
    - else
      = simple_form_for event.responses.build, url: '/event_notes', method: :post do |f|
        = f.input :event_id, as: :hidden
        = f.input :status, collection: %w(Yes Maybe No), wrapper_html: {class: 'EventNote__Options'}
        = f.button :submit, 'Respond'
