.Story
  .Story__name--index
    %img{src: "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(story.email.downcase)}?s=200", title: story.name}
  .Story__section--index
    .Story__title
      = link_to story.title, story
    .Story__body
      = story.body.truncate(140, ommision: '... (continued)')
  .clear-fix
