.Article.Article--darkened
  .Options
    - if can?(:edit, story)
      = link_to 'Edit', [:edit, story], class: 'Options__Edit'
    - if can?(:destroy, story)
      = link_to 'Delete', story, method: :delete, class: 'Options__Delete', data: {confirm: 'Are you sure?'}
  .Article__Title
    = story.title
  .DateTime
    = render partial: 'articles/article_author', locals: {user: story.name, article: story}
  .Article__Body.Article__Body--column
    = simple_format(story.body)

