.Story
  .Options
    = link_to 'Edit', [:edit, story], class: 'Options__Edit'
    = link_to 'Delete', story, class: 'Options__Delete', method: :delete,  data: {confirm: 'Are you sure?'}
  .Story__name
    = story.name
  .Story__title
    = story.title
  .Story__body.Story__body--column
    = story.body
