.Form
  = simple_form_for story do |f|
    = f.input :name, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__Box'}
    = f.input :email, input_html: {type: 'email'}
    = f.input :show_gravatar, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__CheckBox'}
    = f.input :title, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__Box'}
    = f.input :body, wrapper_html: {class: 'Input'}, label_html: {class: 'Input__Label'}, input_html: {class: 'Input__TextArea'}
    = f.input :country_id, collection: Country.all.order(:name)

    = f.button :submit, nil, class: 'Input Input__Submit'
