.Article {
  padding: 0.5rem;
  box-shadow: 0 0 3px #ccc;

  &:hover {
    background-color: darken($white, 6%);
  }

  &--darkened {
    background-color: darken($white, 6%);
  }

  &__More {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
    border: {
      style: solid;
      width: 1px;
      color: transparent transparent $accent-md transparent;
    }
  }

  position: relative;
  padding: 2rem;
  &__Title {
    margin-top: 0.5rem;
    font-size: 1.85rem;
    &--index {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
  }
  
  &__ImageWrapper {
    text-align: center;
  }

  &__Image {
    max-width: 90%;
    height: auto;
    margin: 1rem auto;
  }

  &__Body, &__Teaser {
    font-size: 1.2rem;
  }

  &__Body {
    &--column {
      column-count: 2;
    }
  }

  &__IndexImage {
    position: relative;
    width: 10%;
    float: left;
    text-align: center;

    img {
      width: 95%;
      height: auto;
    }
  }

  &__IndexContent {
    padding-left: 2%;
    width: 88%;
    float: left;
  }
}
