.CallToAction {
  .CallToAction__Icon {
    position: fixed;
    z-index: 999;
    @include breakpoint(0, $tablet) {
      bottom: 5%;
      left: 85%;
    }

    @include breakpoint($tablet + 1px) {
      top: $navigation-height * 0.75;
      left: 54%;
    }

    text-decoration: none;
    color: $white;
    background-color: $accent-md;
    font: {
      size: $call-to-action-font-size;
    }
    width: $call-to-action-size;
    height: $call-to-action-size;
    line-height: $call-to-action-size;
    transition: all .1s ease-in;
    border-radius: 50%;
    text-align: center;
    box-shadow: -2px 1px rgba(0, 0, 0, 0.13);
  }

  .CallToAction__Icon:hover {
    font: {
      size: $call-to-action-font-size * 1.618;
    }
    // position: relative;
    width: $call-to-action-size * 1.618;
    height: $call-to-action-size * 1.618;
    line-height: $call-to-action-size * 1.618;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.13);
    transform:  translateX(-25%) translateY(-25%);
  }

  &__PostArticle {
    @extend .fa, .fa-pencil;
  }

  &__AddEvent {
    @extend .fa, .fa-calendar;
  }

  &__ShareStory {
    @extend .fa, .fa-bullhorn;
  }

  &__UploadFile {
    @extend .fa, .fa-cloud-upload;
  }

  &__MakeDonation {
    @extend .fa, .fa-money;
  }
}
