.Download {
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  position: relative;
  &__User {
    float:left;
    width: 10%;
    img {
      width: 70%;
      height: auto;
      margin-left: 15%;
    }
  }

  &__Details {
    width: 80%;
    float: left;
  }

  &__File {
    position: relative;
    float:left;
    width: 10%;
    top: 1.5rem;
  }

  &__Title {
    font-weight: bold;
  }

  &__Description {
    padding: .25rem;
  }
  
}
