.Event {
  position: relative;
  font-size: 1.1rem;

  &--index {
    width: 31%;
    margin: 1%;
    float: left;
    border: solid 1px $primary-md;
    box-sizing: border-box;
    padding: 0.5rem;
    height: 20rem;
    border-radius: 15px;
    overflow-y: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  }

  &__time {
  }

  &__Label {
    float: left;
    width: 30px;
    margin-right: 5px;
    font-weight: bold;
  }

  &__Key {
    float: left;
  }

  &__title {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    a {
      text-decoration: none;
      color: $primary-md;
    }

    a:hover {
      color: $accent-md;
      text-decoration: underline;
    }
  }

  &__body {
    margin-top: 1rem;
  }
}
