.Navigation {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;

  a {
    color: darken($primary-md, 10%);
    text-decoration: none;
    display: block;
  }

  text-align: center;
  
  &__Wrapper {
    display: inline-block;
    // background-color: green;
    margin: 0 auto;
    min-width: 100%;
  }

  &__List, &__User {
    padding: 0;
    margin: 0;
    // background-color: red;
    line-height: $navigation-height;
    height: $navigation-height;
  }

  &__List {
    float: left;
  }

  &__User {
    float: right;
  }

  &__Item {
    float: left;
    padding: 0;
    margin: 0 5px;
    list-style: none;
  }

  &__Effect:hover, &__Item--selected {
    border: {
      width: 0 0 2px 0;
      color: transparent transparent $accent-md transparent;
      style: solid;
    }
  }

  &__Logo {
    float: left;
    line-height: $navigation-height;
    margin-right: 25px;
  }

  &__ProfilePictureWrapper {
  }

  &__ProfilePicture {
    width: $navigation-profile-picture-height;
    margin: $navigation-profile-picture-margin;
  }

  &__ProfilePictureWrapper, &__UserName {
    float: left;
  }
}
