.Page {
  box-sizing: border-box;
  &__Left {
    margin-top: $navigation-height * 1.5;
    padding: 1rem 1.5rem;
    // background-color: lime;
    box-sizing: border-box;
    float: left;
    @include breakpoint(0 $tablet) {
      width: 100%
    }
    @include breakpoint($tablet) {
      // width: 65%;
      width: 100%;
      height: 100%;
    }
  }

  &__Right {
    display: none;
    background-color: aqua;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    float: left;
    @include breakpoint(0 $tablet) {
      width: 100%
    }
    @include breakpoint($tablet) {
      // width: 35%;
      width: 100%;
      height: 100%;
    }
  }

  &__Header {
    font-size: 2.618rem;
    font-weight: bold;
    &--centered {
      text-align: center;
    }
  }

  &__ContentHeader {
    font-size: 1.618rem;
    font-weight: bold;
  }

  &__Content {
    font-size: 1.2rem;
  }
}
