.Story {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  position: relative;
  padding: 0.5rem;

  &__name {
    &--index {
      float: left;
      width: 10%;
      img {
        width: 90%;
        height: auto;
      }
    }
  }

  &__title {
    font-size: 1.2em;
  }

  &__body {
    margin-top: 0.5rem;
    &--column {
      column-count: 2;
    }
  }

  &__section {
    &__title {
      font-size: 1.2rem;
    }

    &--index {
      float: left;
      width: 90%
    }
  }
}
