.User {
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  margin: 2rem;
  padding: 3rem;
  border-radius: 15px;
  box-sizing: border-box;

  font-size: 1.3rem;

  &__avatar {
    float:left;
    margin-right: 1.2rem;
  }

  &__Details {
    float: left;
  }

  &__bio {
    max-height: 150px;
    overflow-y: auto;
  }
}
