//Platforms
$tablet: 768px;
// Navigation
$navigation-height: 40px;
$navigation-profile-picture-height: 32px;
$navigation-profile-picture-margin: ($navigation-height - $navigation-profile-picture-height) / 2;

//CallToAction
$call-to-action-font-size: 3rem;
$call-to-action-size: 4.86rem;
