/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.  It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 */
@import "font-awesome";
@import 'breakpoint';
@import 'susy';

@import 'variables';
@import 'colors';

html, body {
  font-size: 13px;
}

.clear-fix {
  clear: both;
}

a {
  color: $accent-md;
}

@import 'Container';
@import 'Navigation';
@import 'CallToAction';
@import 'Card';
@import 'Form';
@import 'Forbidden';
@import 'Input';
@import 'DateTime';
@import 'Download';
@import 'Event';
@import 'User';
@import 'Story';
@import 'Article';
@import 'Author';
@import 'Options';
@import 'Page';

.fa {
  color: $primary-md;
}
