.CallToAction
  - if can?(:create, Article) && controller_name == 'articles' && action_name != 'new'
    %a.CallToAction__Icon.CallToAction__PostArticle{href: new_article_path, title: "Post an article"}
  - if can?(:create, Event) && controller_name == 'events' && action_name != 'new'
    %a.CallToAction__Icon.CallToAction__AddEvent{href: new_event_path, title: "Add en event"}
  - if can?(:create, Event) && controller_name == 'stories' && action_name != 'new'
    %a.CallToAction__Icon.CallToAction__ShareStory{href: new_story_path, title: "Share your story"}
  - if can?(:create, Download) && controller_name == 'downloads' && action_name != 'new'
    %a.CallToAction__Icon.CallToAction__UploadFile{href: new_download_path, title: "Upload a file"}
  -# %a.CallToAction.CallToAction__MakeDonation{href: new_donation_path, title: "Make a donation"}
