.Navigation
  .Navigation__Wrapper
    .Navigation__Logo
      = link_to 'IMY320', root_path
    %ul.Navigation__List
      %li.Navigation__Item.Navigation__Effect{class: is_selected('articles')}
        = link_to 'News', articles_path
      %li.Navigation__Item.Navigation__Effect{class: is_selected('events')}
        = link_to 'Events', events_path
      %li.Navigation__Item.Navigation__Effect{class: is_selected('stories')}
        = link_to 'Stories', stories_path
      %li.Navigation__Item.Navigation__Effect{class: is_selected('downloads')}
        =link_to "Files", downloads_path
      %li.Navigation__Item.Navigation__Effect{class: is_selected('home')}
        = link_to "About Us", about_us_path
    %ul.Navigation__User
      -if current_user
        %li.Navigation__Item.Navigation__Item--no-hover
          %a{href: user_path(current_user)}
            %div.Navigation__UserName
              = current_user.name
            %div.Navigation__ProfilePictureWrapper
              %img.Navigation__ProfilePicture{src: current_user.avatar.url(:thumb), alt: "#{current_user.name}'s profile picture'"}
        %li.Navigation__Item.Navigation__Effect.Navigation__Item--button
          = link_to 'Logout', logout_users_path
      - else 
        %li.Navigation__Item.Navigation__Effect.Navigation__Item--button
          = link_to  'Register', new_user_path
        %li.Navigation__Item.Navigation__Effect.Navigation__Item--button
          = link_to 'Login', login_users_path

    .clear-fix
