!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Imy320
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Container
      = render partial: 'layouts/call_to_action'
      = render partial: 'layouts/navigation'
      .Page__Left
        = yield
      .Page__Right
        Right Section
